@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Josefin+Sans:wght@400;500&family=Nunito:ital,wght@0,300;0,500;1,300&family=Poppins:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #333d29;
  display: flex;
  justify-content: center;
}

header>img{
  width: 100px; 
  height: 100px;
  padding: 5px;
}

body{
  background-color: #25291e;
}

.album-1-img{
  width: 190px;
  margin: 115px 0px 0px 30px;
}

.album-1{
  display: flex;
  max-height: 420px;
  margin-bottom: 20px;
}

.album-1-main-container{
  height: 250px;
  width: 550px;
  background-color: #353b2a;
  margin: 80px 0px 0px 20px;
  border-radius: 3px;
}

.album-1-title{
  color: #ebe8dd;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 0px 20px;
}

.title-by-weak{
  color: #e4e0d5d1;
}

.album-1-subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  margin: 5px 0px 0px 15px;
  padding: 13px 10px 5px 0px;
}

.album-1-subtitle-2
{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 5px 0px 20px 15px;
  color: black;
  padding: 10px 10px 25px 0px;
}

.subtitles-container{
  background-color: white;
  margin: 20px 0px 0px 20px;
  width: 500px;
  opacity: 0.8;
  border-radius: 2px;
}

ul{
  background-color: rgba(255, 255, 255, 0.726);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  list-style-type: none;
  max-width: 400px;
  margin: 20px 15px 0px 15px;
  border-radius: 3px;
}

ul>.album-1-musics-top{
  padding-top: 8px;
}

ul>.album-1-musics-bottom{
  padding-bottom: 10px;
}

ul>li{
  padding: 5px 5px 0px 5px;
  font-size: 0.8rem;
}

.music-album-card{
  width: 250px;
  height: 350px;
  background-color: #353b2a;
  margin: 20px 0px 0px 30px;
  border-radius: 3px;
}




/*
 topo, direita, baixo, esquerda
*/

/*
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

