@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Josefin+Sans:wght@400;500&family=Nunito:ital,wght@0,300;0,500;1,300&family=Poppins:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #333d29;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgb(0, 0, 0);
}

div>.separator{
  margin-left: 720px;
}

header>img{
  width: 100px; 
  height: 100px;
  padding: 5px;
}

body{
  background-color: #25291e;
}

.album-1-background{
  height: 400px;
  background-color: #56604563;
}

.album-1-img{
  width: 190px;
  margin: 115px 0px 0px 30px;
}

.album-1{
  display: flex;
  max-height: 420px;
  margin-bottom: 20px;
}

.album-1-main-container{
  height: 250px;
  width: 550px;
  background-color: #2a3022;
  margin: 80px 0px 0px 20px;
  border-radius: 3px;
}

.album-1-title{
  color: #ebe8dd;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 0px 20px;
}

.access-hover:hover{
  filter: invert(1);
  transition: 0.2s;
}

.access-div{
  display: flex;
  gap:290px;
}

.spotify-access{
  width: 20px;
  margin-top: 20px;
}

.album-1-subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  margin: 5px 0px 0px 15px;
  padding: 13px 10px 5px 0px;
}

.album-1-subtitle-2
{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 5px 0px 20px 15px;
  color: black;
  padding: 10px 10px 25px 0px;
}

.subtitles-container{
  background-color: white;
  margin: 20px 0px 0px 20px;
  width: 500px;
  opacity: 0.8;
  border-radius: 2px;
}

.artist-hover{
  color: #ebe8dd;
  text-decoration: none;
}

.artist-hover:hover{
  color: #4fb7fddf;
  cursor: pointer;
  transition: 0.2s;
}

ul{
  background-color: rgba(255, 255, 255, 0.726);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  list-style-type: none;
  max-width: 400px;
  margin: 10px 10px 0px 10px;
  border-radius: 3px;
}

ul>.album-1-musics-top{
  padding-top: 8px;
}

ul>.bottom{
  padding-bottom: 10px;
}

ul>li{
  padding: 5px 5px 0px 5px;
  font-size: 0.8rem;
}

.music-album-card{
  width: 232px;
  background-color: rgba(255, 255, 255, 0.708);
  padding: 8px 10px 17px 10px;
  margin: 28px 0px 0px 75px  ;
  font-size: 0.9rem;
  border-radius: 5px;  
}

.tracklist-numb{
  font-family: 'Inter', sans-serif;
}

.album-1-musics{
  font-family: 'Ubuntu', sans-serif;
}



/*---------------------Album 2-----------------------*/

.album-2-img{
  width: 190px;
  height: 170px;
  margin: 105px 0px 0px 30px;
}

.album-2{
  display: flex;
  max-height: 420px;
  margin-bottom: 40px;
}


.album-2-main-container{
  height: 220px;
  width: 550px;
  background-color: #353b2a;
  margin: 80px 0px 0px 20px;
  border-radius: 3px;
}

.album-2-title{
  color: #ebe8dd;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 0px 20px;
}

.album-2-subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  margin: 20px 0px 0px 15px;
  padding: 15px 10px 25px 0px;
}

.subtitles-container{
  background-color: white;
  margin: 20px 0px 0px 20px;
  width: 500px;
  opacity: 0.8;
  border-radius: 2px;
}

.music-album2-card{
  width: 232px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.708);
  padding: 8px 10px 17px 10px;
  margin: 65px 0px 0px 75px  ;
  font-size: 0.9rem;
  border-radius: 5px;  
}

/*-------------------------Album 3-------------------*/


.album-3-background{
  height: 500px;
  background-color: #56604563;
}

.album-3-img{
  width: 190px;
  height: 190px;
  margin: 1px 0px 0px 30px;
}

.album-3{
  display: flex;
  max-height: 420px;
  margin-bottom: 20px;
}

.album-3-main-container{
  height: 240px;
  width: 550px;
  background-color: #2a3022;
  margin: 90px 0px 0px 20px;
  border-radius: 3px;
}

.album-3-title{
  color: #ebe8dd;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 0px 20px;
}

.album-3-subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  margin: 32px 0px 0px 15px;
  padding: 15px 10px 25px 0px;
}

.subtitles-container{
  background-color: white;
  margin: 20px 0px 0px 20px;
  width: 500px;
  opacity: 0.8;
  border-radius: 2px;
}

.music-album3-card{
  height: 425px;
  width: 232px;
  background-color: rgba(255, 255, 255, 0.708);
  padding: 8px 10px 17px 10px;
  margin: 20px 0px 0px 75px  ;
  font-size: 0.9rem;
  border-radius: 5px;  
}

.album-3-img, .album-3-main-container{
  margin-top: 140px;
}

.album-3>img{
  margin-top: 165px;
}

/*--------------------Album 4------------------------*/

.album-4-img{
  width: 190px;
  height: 190px;
  margin: 115px 0px 0px 30px;
}

.album-4{
  display: flex;
  max-height: 420px;
  margin-bottom: 20px;
}


.album-4-main-container{
  height: 240px;
  width: 550px;
  background-color: #353b2a;
  margin: 90px 0px 0px 20px;
  border-radius: 3px;
}

.album-4{
  color: #ebe8dd;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 0px 20px;
}

.album-4-title{
  color: #ebe8dd;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 0px 20px;
}

.album-4-subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  margin: 2px 0px 0px 15px;
  padding: 15px 10px 5px 0px;
}
#bottom-sub{
  padding: 5px 0px px 0px;
}

.subtitles-container{
  background-color: white;
  margin: 20px 0px 0px 20px;
  width: 500px;
  opacity: 0.8;
  border-radius: 2px;
}


.music-album4-card{
  color: black;
  width: 232px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.708);
  padding: 8px 10px 17px 10px;
  margin: 145px 0px 0px 75px  ;
  font-size: 0.9rem;
  border-radius: 5px;  
}


/*
 topo, direita, baixo, esquerda
*/

/*
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

